<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta Name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project R10</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <form id="invitation">
        <h2>Admin Invite Form</h2><br>
        <h6>*check console log for Signup URL and unique id API response*</h6><br>
        <label for="Name">Name:</label>
        <input type="text" id="Name" Name="Name" required>
        
        <label for="Email">Email:</label>
        <input type="email" id="Email" Name="Email" required>
        
        <label for="TelephoneNumber">Telephone Number:</label>
        <input type="tel" id="TelephoneNumber" Name="TelephoneNumber" required>
        
        <label for="SecondEmail">Second Email:</label>
        <input type="email" id="SecondEmail" Name="SecondEmail">
        
        <label for="OrgName">Organization Name:</label>
        <input type="text" id="OrgName" Name="OrgName">
        
        <label for="Role">Role in Organization:</label>
        <input type="text" id="Role" Name="Role">
        
        <label for="ValidTill">Valid Till:</label>
        <input type="date" id="ValidTill" Name="ValidTill">
        
        <button type="submit">Submit</button>
    </form>
        
    <script>
        document.getElementById('invitation').addEventListener('submit', function(event){
            event.preventDefault();

            const formData = new FormData(this);

            fetch('/submit_invite',{
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
        });

    </script>
    
</body>
</html>