<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta Name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project R10</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <form method="POST" action="/logged-in">
        <h2>Login as</h2><br>
        <input type="radio" id="admin" name="role" value="admin">
        <label for="admin">Admin</label>
        <input type="radio" id="user" name="role" value="user">
        <label for="user">User</label>
        
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>