<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Password Reset</title>
</head>
<body>
    <div id="response-box"></div>
    <form id="password-reset-form">
        <h2>Password Reset</h2><br>
        <label id="unique-id-label">Password Reset for Account ID:</label><br>
        <input type="password" id="password" name="password" placeholder="Enter new password" required><br><br>
        <button type="submit">Reset Password</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            
            const uniqueId = window.location.pathname.split('/').pop();
            
            document.getElementById('unique-id-label').textContent += uniqueId;

            // Handle form submission
            document.getElementById('password-reset-form').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent default form submission
                const password = document.getElementById('password').value;

                // Make fetch request to another API endpoint for password reset
                fetch('/reset_password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ unique_id: uniqueId, password: password })
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('response-box').innerText = data.message;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
