<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Password Reset</title>
</head>
<body>
    <form id="password-reset-form">
        <h2>Password Reset</h2><br>
        <label id="unique-id-label">Password Reset for Account ID:</label><br>
        <input type="text" id="unique-id" name="unique_id" readonly><br><br>
        <input type="password" id="password" name="password" placeholder="Enter new password" required><br><br>
        <button type="submit">Reset Password</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            
            const uniqueId = window.location.pathname.split('/').pop();
            
            document.getElementById('unique-id').value = uniqueId;

            // Handle form submission
            document.getElementById('password-reset-form').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent default form submission
                const formData = new FormData(this);
                // Make fetch request to another API endpoint for password reset
                fetch('/reset_password', {
                    method: 'POST',
                    body: formData
                })
                .then (response => {
                    if (response.ok){
                        window.location.href = '/login';
                    }else{
                        console.error('error')
                    }
                })
                .catch(error => {
                    console.error('error')
                })
            });
        });
                document.getElementById('invitation').addEventListener('submit', function(event){
            event.preventDefault();

            const formData = new FormData(this);

            fetch('/submit_invite',{
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
        });
    </script>
</body>
</html>
